<a href="https://colab.research.google.com/github/1raz1class/Excel_Automation/blob/main/Python_Basics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a brief overview of basics concepts of Python programming



1.   Syntax, comments, operations
2.   Variable Types
3. Lists
4. Strings
5. Tuples
6. Dictionaries
7. Dataframe
8. Loops

# 1. Syntax

In [ ]:
# Comment

# This is a comment !

The *print()* function prints the specified message to the screen, or other standard output device.

The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [ ]:
# to display an output use the function print()

print('Hello world')

Hello world

In [ ]:
# numbers
2

2

In [ ]:
# operations / calculation
2+3

5

In [ ]:
# string/text

'This is a string'

'This is a string'

In [ ]:
# assign a numerical variables

x=2
y=3

print(x)
print(y)

2
3

In [ ]:
# make operations with assigned variables

x+y

5

In [ ]:
# make operations with strings

string1='love'
string2='data'

string1+string2

'lovedata'

In [ ]:
# workflow, identation

x = 1
if x > 0:
  print('x is grater then 0')

x is grater then 0

In [ ]:
x = -2

In [ ]:
if x>0:
  print('x is greater then 0')

In [ ]:
if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

x is less then 0

In [ ]:
x=0
if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

x is less then 0

In [ ]:
if x>0:
  print('x is grater then 0')
elif x==0:
  print('is equal to 0')
else:
  print('x is greater then 0')

NameError: ignored

# 2. Variable types

In [ ]:
age = 7
print(type(age))

<class 'int'>

In [ ]:
age = 7.5
print(type(age))

<class 'float'>

In [ ]:
name = 'Jessica'
print(type(name))

<class 'str'>

In [ ]:
name_age = (name, age)
print(name_age)
print(type(name_age))

('Jessica', 7.5)
<class 'tuple'>

In [ ]:
date = '2022-12-31'
print(date)
print(type(date))

2022-12-31
<class 'str'>

In [ ]:
#to convert a string into date we first need to import datetime module

from datetime import datetime

datetime_str = '09/19/18 13:55:26'

datetime_object = datetime.strptime(datetime_str, '%m/%d/%y %H:%M:%S')

print(type(datetime_object))
print(datetime_object)  # printed in default format

<class 'datetime.datetime'>
2018-09-19 13:55:26

In [ ]:
datetime_object = datetime.strptime(date, '%Y-%m-%d')
print(type(datetime_object))

<class 'datetime.datetime'>

In [ ]:
# Definition of pi_string
pi_string = "3.1415926"
pi_float= float(pi_string)

type(pi_float)

float

# 3. Lists

In [ ]:
#create a list
our_list = ["a","b","c",1,1.5]
print(our_list)

['a', 'b', 'c', 1, 1.5]

In [ ]:
# append an element to the list
our_list.append("d")
print(our_list)

['a', 'b', 'c', 1, 1.5, 'd']

In [ ]:
# access element in the list

# list numbering starts a 0

# access first element in the list
our_list[0]

'a'

In [ ]:
# access last element in the list
our_list[-1]

'd'

In [ ]:
# length of the list
len(our_list)

6

In [ ]:
# insert an element in the list

our_list.insert(0,"First element")# instert befor 1st element
print(our_list)

['First element', 'a', 'b', 'c', 1, 1.5, 'd']

In [ ]:
# insert an element in the list

our_list.insert(-1,"element")# instert before last element
print(our_list)

['First element', 'a', 'b', 'c', 1, 1.5, 'element', 'd']

In [ ]:
# remove element
our_list.remove("First element")
print(our_list)

['a', 'b', 'c', 1, 1.5, 'element', 'd']

In [ ]:
# remove element by its index

our_list.pop(0)
print(our_list)

['b', 'c', 1, 1.5, 'element', 'd']

In [ ]:
# we can have nested lists

nested_list = [[1,2,3],6,7,5]
print(nested_list)

[[1, 2, 3], 6, 7, 5]

In [ ]:
# access nested lists
len(nested_list)

4

In [ ]:
# access nested lists
nested_list[1]

6

In [ ]:
# access nested lists
nested_list[0]

[1, 2, 3]

In [ ]:
# access nested lists
nested_list[0][1]

2

# 4. Strings

In [ ]:
string_a = 'text'
string_a

'text'

In [ ]:
string_b = 'This is a '
string_b

'This is a '

In [ ]:
string_b + string_a

'This is a text'

In [ ]:
string_c = string_b + string_a
string_c.lower()

'this is a text'

In [ ]:
string_c.upper()

'THIS IS A TEXT'

In [ ]:
# access
string_c[0]

'T'

In [ ]:
# length (# space is counted a 1)
len(string_c)

14

In [ ]:
string_d = "Derrick, Matt, Jessica"
print(string_d)
print(string_d.split(","))

Derrick, Matt, Jessica
['Derrick', ' Matt', ' Jessica']

# 5. Tuples

A tuple is a collection which is ordered and unchangeable (imuatable)
.

In [ ]:
tuple_a = ('Dog', 'Cat', 'Frog')

In [ ]:
# inmutable
#tuple_a.append('Mouse')

In [ ]:
# ordered

tuple_a[0]

'Dog'

# 6. Dictionaries

In [ ]:
# dictionary have curly brackets

our_dictionary = {"name":"Derrick",
                  "height":"6'0",
                  "location":"Lost"}

our_dictionary

{'name': 'Derrick', 'height': "6'0", 'location': 'Lost'}

In [ ]:
# a dictionary is made of keys and values
dictionary = {"key_1":"value_0",
               "key_2":"value_2",
               "key_3":"value_3"}

dictionary

{'key_1': 'value_0', 'key_2': 'value_2', 'key_3': 'value_3'}

In [ ]:
# access dictionary by key

print(dictionary["key_1"])

value_0

In [ ]:
# change a value by key

dictionary["key_1"] = "value_1"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

In [ ]:
# add an element to dictionary

dictionary["eye color"] = "blue"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3', 'eye color': 'blue'}

In [ ]:
# remove element
dictionary.pop("eye color")
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

# 7. DataFrame

In [ ]:
dataframe = {"name":['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
              "age":['30', '35', '40', '27', '52'],
              "city":['Paris', 'Berlin', 'Madrid', 'Paris', 'London']}

dataframe

{'name': ['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
 'age': ['30', '35', '40', '27', '52'],
 'city': ['Paris', 'Berlin', 'Madrid', 'Paris', 'London']}

In [ ]:
# create a dataframe

import pandas as pd
df1 = pd.DataFrame.from_dict(dataframe)

In [ ]:
# visualize the df

df1.head()

      name age    city
0     Jess  30   Paris
1     Nick  35  Berlin
2  Winston  40  Madrid
3      Tom  27   Paris
4     Alex  52  London

In [ ]:
# df dimensions

df1.shape

(5, 3)

In [ ]:
# nb of rows

df1.shape[0]

5

In [ ]:
len(df1)

5

In [ ]:
# nb. of columns
df1.shape[1]

3

In [ ]:
len(df1.columns)

3

In [ ]:
# get df columns

df1.columns

Index(['name', 'age', 'city'], dtype='object')

In [ ]:
# second column name

df1.columns[1]

'age'

Accessing dataframe

In [ ]:
# access by column name

df1['age']

0    30
1    35
2    40
3    27
4    52
Name: age, dtype: object

In [ ]:
# accessing by index

df1.iloc[0, 0]

'Jess'

In [ ]:
df1.iloc[-1, -1]

'London'

In [ ]:
df1.iloc[2,1]

'40'

In [ ]:
# access by index

df1.loc[2]

name    Winston
age          40
city     Madrid
Name: 2, dtype: object

In [ ]:
df1.loc[2:3]

      name age    city
2  Winston  40  Madrid
3      Tom  27   Paris

In [ ]:
df1.loc[[2,4]]

      name age    city
2  Winston  40  Madrid
4     Alex  52  London

In [ ]:
# use name column as df index

df1 = df1.set_index('name')
df1.head()

        age    city
name
Jess     30   Paris
Nick     35  Berlin
Winston  40  Madrid
Tom      27   Paris
Alex     52  London

In [ ]:
df1.loc['Winston':'Alex']

        age    city
name
Winston  40  Madrid
Tom      27   Paris
Alex     52  London

In [ ]:
df1.loc[['Alex', 'Nick']]

     age    city
name
Alex  52  London
Nick  35  Berlin

Filter

In [ ]:
# filter all data that are in Paris

df1[df1['city']=='Paris']

     age   city
name
Jess  30  Paris
Tom   27  Paris

Join dataframes

In [ ]:
dataframe_1 = {"Prnom":['Matthew', 'Philippe'],
              "age":['32', '45'],
              "city":['London', 'London']}

df2 = pd.DataFrame.from_dict(dataframe_1)

df2.head()

     Prnom age    city
0   Matthew  32  London
1  Philippe  45  London

In [ ]:
print(df2.columns)

Index(['Prnom', 'age', 'city'], dtype='object')

In [ ]:
# change df columns

df2.columns = ['name', 'age', 'city']
df2.head()

       name age    city
0   Matthew  32  London
1  Philippe  45  London

In [ ]:
# use name column as df index

df2 = df2.set_index('name')
df1.head()

        age    city
name
Jess     30   Paris
Nick     35  Berlin
Winston  40  Madrid
Tom      27   Paris
Alex     52  London

In [ ]:
# join the dfs into a single one

frames= [df1, df2]
# concatenate all df into a single one
df = pd.concat(frames)

# check dataframe shape
print('Dataframe Shape: ', df.shape)

# visualize the last rows
df.tail()

Dataframe Shape:  (7, 2)

         age    city
name
Winston   40  Madrid
Tom       27   Paris
Alex      52  London
Matthew   32  London
Philippe  45  London

In [ ]:
df

         age    city
name
Jess      30   Paris
Nick      35  Berlin
Winston   40  Madrid
Tom       27   Paris
Alex      52  London
Matthew   32  London
Philippe  45  London

In [ ]:
# add region column

df['region'] = 'Europe'
df

          age    city  region
name
Jess       30   Paris  Europe
Nick       35  Berlin  Europe
Winston    40  Madrid  Europe
Tom        27   Paris  Europe
Alex       52  London  Europe
Matthew    32  London  Europe
Philippe   45  London  Europe

In [ ]:
# add a column

salary = ['40000', '45000', '50000', '55000', '60000', '65000', '70000']

df['salary']= salary

print(df.shape)
df

(7, 4)

          age    city  region salary
name
Jess       30   Paris  Europe  40000
Nick       35  Berlin  Europe  45000
Winston    40  Madrid  Europe  50000
Tom        27   Paris  Europe  55000
Alex       52  London  Europe  60000
Matthew    32  London  Europe  65000
Philippe   45  London  Europe  70000

In [ ]:
# general info of df

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Jess to Philippe
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     7 non-null      int64
 1   city    7 non-null      object
 2   region  7 non-null      object
 3   salary  7 non-null      object
dtypes: int64(1), object(3)
memory usage: 280.0+ bytes

In [ ]:
# convert column "a" of a DataFrame
df["age"] = pd.to_numeric(df["age"])
df["salary"] = pd.to_numeric(df["salary"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Jess to Philippe
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     7 non-null      int64
 1   city    7 non-null      object
 2   region  7 non-null      object
 3   salary  7 non-null      int64
dtypes: int64(2), object(2)
memory usage: 280.0+ bytes

In [ ]:
# df describe

df.describe()

             age        salary
count   7.000000      7.000000
mean   37.285714  55000.000000
std     8.901578  10801.234497
min    27.000000  40000.000000
25%    31.000000  47500.000000
50%    35.000000  55000.000000
75%    42.500000  62500.000000
max    52.000000  70000.000000

In [ ]:
# distinct cities

df.city.unique()

array(['Paris', 'Berlin', 'Madrid', 'London'], dtype=object)

In [ ]:
# number of distinct cities
len(df['city'].unique())

4

In [ ]:
# add a column

salary = ['40000', '45000', '50000', '55000', '60000', '65000', '70000']

df['salary']= salary

print(df.shape)
df

(7, 4)

          age    city  region salary
name
Jess       30   Paris  Europe  40000
Nick       35  Berlin  Europe  45000
Winston    40  Madrid  Europe  50000
Tom        27   Paris  Europe  55000
Alex       52  London  Europe  60000
Matthew    32  London  Europe  65000
Philippe   45  London  Europe  70000

Groupby

In [ ]:
df.groupby(by=["city"])['age'].mean()

city
Berlin    35.0
London    43.0
Madrid    40.0
Paris     28.5
Name: age, dtype: float64

In [ ]:
df.groupby(by=["city"])['salary'].sum()

city
Berlin              45000
London    600006500070000
Madrid              50000
Paris          4000055000
Name: salary, dtype: object

In [ ]:
df.loc['Jess']

age           30
city       Paris
region    Europe
salary     40000
Name: Jess, dtype: object

In [ ]:
# add a new row
df.loc['John']= [40, 'New York', 'America', '75000']
df

          age      city   region salary
name
Jess       30     Paris   Europe  40000
Nick       35    Berlin   Europe  45000
Winston    40    Madrid   Europe  50000
Tom        27     Paris   Europe  55000
Alex       52    London   Europe  60000
Matthew    32    London   Europe  65000
Philippe   45    London   Europe  70000
John       40  New York  America  75000

In [ ]:
# group by 2 variables

df.groupby(by=['region', "city"])['salary'].sum()

region   city
America  New York              75000
Europe   Berlin                45000
         London      600006500070000
         Madrid                50000
         Paris            4000055000
Name: salary, dtype: object

Pivot

In [ ]:
table = pd.DataFrame({"Box": ["wood", "wood", "wood", "wood", "wood",
                         "paper", "paper", "paper", "paper"],
                   "Color": ["red", "red", "red", "blue", "blue",
                         "red", "red", "blue", "blue"],
                   "Size": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "Qty": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "Weigth": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

table

     Box Color   Size  Qty  Weigth
0   wood   red  small    1       2
1   wood   red  large    2       4
2   wood   red  large    2       5
3   wood  blue  small    3       5
4   wood  blue  small    3       6
5  paper   red  large    4       6
6  paper   red  small    5       8
7  paper  blue  small    6       9
8  paper  blue  large    7       9

In [ ]:
# import numpy module that help to work with numbers

import numpy as np

pivot = pd.pivot_table(table, # data to pivot
                       values='Qty', # column to aggregate
                       index=['Box', 'Color'], # Grouper, Keys to group by on the pivot table index.
                       columns=['Size'], # Keys to group by on the pivot table column., will be the columns value
                       aggfunc=np.sum)# the aggregation function

pivot

Size         large  small
Box   Color
paper blue     7.0    6.0
      red      4.0    5.0
wood  blue     NaN    6.0
      red      4.0    1.0

# 8. Loops

In [ ]:
# visualize code execution
# https://pythontutor.com/python-debugger.html#mode=edit

# create a list of groceries
groceries = ['Apple','Orange', 'Banana', 'Kiwi']

# iterate through list to access each element of the list
for item in groceries:
    print(item)

Apple
Orange
Banana
Kiwi

In [ ]:
# iterate through nested lists

kev_list = [['Apple', 4],['Orange', 2],['Banana', 6],['Kiwi', 5]]
kev_list

[['Apple', 4], ['Orange', 2], ['Banana', 6], ['Kiwi', 5]]

In [ ]:
# access 1 element from the second item
kev_list[1][0]

'Orange'

In [ ]:
for groceries in kev_list:
    print(groceries)

['Apple', 4]
['Orange', 2]
['Banana', 6]
['Kiwi', 5]

In [ ]:
# iterate through nested lists
# accesst each element as a flat list


l = kev_list.copy()
# creat an empty list where we'll store all elements
flat_list = []

for sublist in l:
    for item in sublist:
        flat_list.append(item)
flat_list

['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

In [ ]:
# another syntax to get the same result
# iterate through a nested loop 
flat_list = [item for sublist in l for item in sublist]
flat_list

['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

# 9. Functions

In [ ]:
def operation(x):
    result = (x + 2.6)/5.5
    print(result)


amount = operation(7)

1.7454545454545454

Body Fat Calculator

In [ ]:
# body fat calculator

height = 65 # in inches (devide cm by 2,54)
weight = 110 # in pounds (multiply kg by 2,205))

# CALCULATE YOUR BODY MASS INDEX (BMI)
bmi = (weight/(height**2) ) * 703 # conversion factor of 703
bmi

18.302958579881658

In [ ]:
def bmi(height,weight):
  bmi= (weight/(height**2) ) * 703 
  print('your bmi is ', bmi)

In [ ]:
bmi(65, 110)

your bmi is  18.302958579881658

In [ ]:
bmi(height=65,weight=110)

your bmi is  18.302958579881658

*Body Fat Percentage for women*

In [ ]:
def bfp_women(bmi, age):
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 5.4
  print(body_fat_pct)

bfp_women(bmi= 24.96, age = 30)

31.451999999999998

*Body fat diagnos for women*

Women diagnosis:

20-40 yrs old: 


> 
Underfat: under 21 percent, Healthy: 21-33 percent, Overweight: 33-39 percent, Obese: Over 39 percent

41-60 yrs old:

> 

Underfat: under 23 percent, Healthy: 23-35 percent, Overweight : 35-40 percent Obese: over 40 percent 


61-79 yrs old:

> 

Underfat: under 24 percent, Healthy: 24-36 percent, Overweight: 36-42 percent, Obese: over 42 percent Men:

In [ ]:
def bfp_women_diagnosis(height, weight, age):
  bmi = (weight/(height**2) ) * 703
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 5.4
  if age <=40:
     if body_fat_pct < 21:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 21 and bmi < 33:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 33 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 40 and age <=60:
     if body_fat_pct < 23:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 23 and bmi < 35:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 35 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 60:
     if body_fat_pct < 24:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 24 and bmi < 36:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 36 and bmi < 42:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")

bfp_women_diagnosis(65, 150, 30)

your fat percentage  is:  31.450295857988166 you are healthy

*Body Fat Percentage for men*

In [ ]:
def bfp_men(height, weight, age):
  bmi  = (weight/(height**2) ) * 703
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 16.2
  print(body_fat_pct)

bfp_men(height= 69, weight= 170, age = 40)

23.122243226212984


Men:

20-40 yrs old: 
> Underfat: under 8 percent, Healthy: 8-19 percent, Overweight: 19-25 percent, Obese: over 25 percent

41-60 yrs old:

> Underfat: under 11 percent, Healthy: 11-22 percent, Overweight: 22-27 percent, Obese: over 27 percent

61-79 yrs old:

> Underfat: under 13 percent, Healthy: 13-25 percent, Overweight: 25-30 percent, Obese: over 30 percent

**Homework**

*   write a function **bfp_men_diagnosis()** that would calculate the bfp for men and would do tha diagnosis 
*   write a function **bfp_diagnosis()** that would calculate the bfp would do tha diagnosis, no matter women or men giving arguments (height= , weight= , age = , gender = )